---
layout: default
description: 서울S치과의원
---

<div id="home">
	<header>
		<h1>서울S치과의원</h1>
	</header>
	<div id="notice">
		<div class="jumbotron">
			<h1>We are hiring...</h1>
			<p></p>
		</div>
	</div>

  <div class="post-content" >
  </div>

</div>

{% for page in site.pages %}
{% if page.frontpage %}
<a href="{{page.url}}">
<button type="button" class="btn btn-primary btn-lg">{% if page.category3 %}{{ page.category3 }}{% else %}{{ page.category2 }}{% endif %}</button>
</a>
{% endif %}
{% endfor %}
