<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <div class="navbar-brand-wrapper">
      <a class="navbar-brand" href="/{% if page.language %}{{ page.language }}{% endif %}" title="Home">
        <img class="logo" src={{ site.logo | prepend: "/img/" | prepend: site.url}} alt="Home" /> {{ site.title }}
      </a>
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenuBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navMenuBar">
    <ul class="navbar-nav ml-auto">
      {% assign menuBar1 = site.pages | group_by: 'category1' | uniq %}
      {% for menu1 in menuBar1 %}{% if menu1.name != "" %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ menu1.items[0].permalink }}" role="button" id="navMenuBar1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ menu1.name }}</a>
        <ul class="dropdown-menu" id="navMenuBar2" aria-labelledby="navbarDropdown">
          {% assign menuBar2 = menu1.items | group_by: 'category2' | uniq %}
          {% for menu2 in menuBar2 %}
          {% assign menuBar3 = menu2.items | group_by: 'category3' | uniq %}

          {% for thispage in site.pages reversed %}{% if thispage.category2 == menu2.name %}{% assign thepage = thispage %}
          {% endif %}{% endfor %}

          {% if menuBar3.size > 1 %}
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="{{thepage.url}}">{{ menu2.name}}</a>
            <ul class="dropdown-menu">
              {% for menu3 in menuBar3 %}
                {% for thispage in site.pages  %}{% if thispage.category3 == menu3.name %}
                <a class="dropdown-item" href="{{thispage.url}}" role="button" data-toggle="dropdown3">{{menu3.name}}</a>
                {% endif %}{% endfor %}
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="dropdown">
            <a class="dropdown-item" href="{{thepage.url}}">{{menu2.name}}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

  </div>
</nav>
